* {
    margin: 0;
    padding: 0;
    font-family: "San Francisco", Arial, sans-serif;
}

body {
    background-color: #ececf0;
    overflow-x: hidden;

}


h3 {
    margin-bottom: 10px;
    text-align: center;
    color: black;
    font-size: larger;


}

h1 {
    text-align: center;
    width: 300px;
    font-size: 60px;
    overflow: hidden;

}

.titulo {
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.contenedor-buscador {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 300px;
    padding: 10px;
    border-radius: 30px;
    background-color: #d3d3dc;
    border: 1px #d3d3dc solid;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    cursor: pointer;
}

.buscador {
    border: none;
    width: 100px;
    background-color: #d3d3dc;
    font-weight: bold;
    color: grey;
}

.buscador:focus {
    outline: none;
}

.contenedor-buscador img {
    margin-top: 3px;
}

.contenedor-buscador img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.contenedores p {
    margin-bottom: 5px;
}

.contenedores {
    background-color: white;
    border-radius: 20px;
    color: grey;
    width: 400px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    overflow: hidden;


}

.contenedores img {
    margin: 10px;
}

.contenedor-comentarios-comparar {
    width: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.contenedores .comentarios {
    cursor: pointer;
    width: 45px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease;
    border-radius: 20px;

}

.contenedores .comentarios:hover {
    background-color: #ececf0;
}

.comparar {
    cursor: pointer;
    width: 45px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease;
    border-radius: 20px;
}

.comparar:hover {
    background-color: #ececf0;
}


#seccion-principal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}

.no-resultados {
    display: flex;
    flex-direction: column;
}

#img-no-resultados {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.tabla-filtros tr td {
    padding: 5px;
    text-align: center;
    font-size: 12px;
}

.tabla-filtros tr td img:hover {
    cursor: pointer;
    opacity: 0.5;
}

.tabla-filtros {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#seccion-en-blanco{
    height: 64px;
    background-color: white;
}

#seccion-filtros {
    background-color: white;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 20px;
}

.seccion-buscador {
    overflow: hidden;
}

@media (max-width: 500px) {
    h1{
        font-size: 25px;
    }
    .seccion-buscador{
        width: 100%;
    }
    .contenedor-buscador {
        padding-left: 10px;
        padding-right: 10px;
        width: 70%;
    }

    .buscador {
        width: 100%;
    }

    .contenedores {
        width: 190px;
        margin-left: 0;
        margin-right: 0;
    }

    .contenedores .imagenes{
        width: 50px;
        height: 50px;
    }

    #seccion-filtros {
        padding-top: 10px;
        width: 90%;
    }

    .tabla-filtros tr td img{
        width: 25px;
        height: 25px;
    }
    .tabla-filtros tr td {
        padding: 5px;
        text-align: center;
        font-size: 0px;
    }
    #seccion-en-blanco{
        display: none;
    }
    
}